@model Car_Rental_booking.Model.ContactUs
@{
    ViewData["Title"] = "contact";
}

@*<h1>contact</h1>*@
<div class="contact featured-category category">
    <div class="container-fluid">
        <div class="container">
            <div class="section-header">
                <h2>Contact</h2>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-info">
                        <h2>Our Office</h2>
                        <h3><i class="fa fa-map-marker"></i>203 Fake St. Mountain View, <br> 11378 New York</h3>
                        <h3><i class="fa fa-envelope"></i>rental@example.com</h3>
                        <h3><i class="fa fa-phone"></i>+012-345-6789</h3>
                        <div class="social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-info">
                        <h2>Our Store</h2>
                        <h3><i class="fa fa-map-marker"></i>103 Fake St. Mountain View, <br> 11378 New York</h3>
                        <h3><i class="fa fa-envelope"></i>rental@example.com</h3>
                        <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
                        <div class="social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <div class="contact-form">
                       <form  method="POST">
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Your Name" />
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <input asp-for="Email" type="email" class="form-control" placeholder="Your Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <input  asp-for="Subject" type="text" class="form-control" placeholder="Subject" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" asp-for="Message" rows="5" placeholder="Message"></textarea>
                            </div>
                            @*<button class="btn btn-primary" type="submit" asp-action="PostContactUs" asp-controller="ContactUS"> Message</button>*@
                            <button class="btn btn-primary" type="submit">Send Message</button>  

                        </form>
                        
                   @* <form method="post">
                            <input class="form-control",class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12" asp-for="Name" placeholder="Your Name" >
                            <input class="form-control" asp-for="Email" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12" placeholder="Your Name"/>
                            <input class="form-control" class="form-group" asp-for="Message" placeholder="Message">
                            <input class="form-group" class="form-control" asp-for="Subject" placeholder="Subject">
                          

                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
