@model Car_Rental_booking.Model.ContactUs
@*@{
    ViewData["Title"] = "PostContactUs";
}*@

<h1>PostContactUs</h1>

<form method="post">
    <input asp-for="Name">Your Name</input>
    <input asp-for="Email">Your Email</input>
    <input asp-for="Message">Your Message</input>
    <input asp-for="Subject">Your Subject</input>

    <button type="submit">Send</button>
</form>