@model Car_Rental_booking.Model.ContactUs
@*@{
    ViewData["Title"] = "PostContactUs";
}*@

<h1>PostContactUs</h1>

<form method="post">
    <input asp-for="Name">Your Name/>
    <input asp-for="Email">Your Email/>
    <input asp-for="Message">Your Message/>
    <input asp-for="Subject">Your Subject/>

    <button type="submit">Send</button>
</form>