
@{
    ViewData["Title"] = "A gaya tu Jawaan Ho kar";
}

<h1>@ViewData["OK"] @ViewData["Title"]</h1>

<form method="post" asp-controller="Client" asp-action="Logout">
    <input type="submit" value="Logout" />
</form>

