@using Car_Rental_booking.Model;
@model  Client
@{
    ViewData["Title"] = "ClientLogin";
}

<h1>ClientLogin</h1>

<Form method="post">   
   
        <label>Email</label>
        <input asp-for="Email" />
        <label>Password</label>
        <input asp-for="Password" />
  
    <button type="submit">Login</button>
    @*<a asp-action="ClientLogin" asp-controller="Client"></a>*@
    

    <button type="submit" asp-action="ForGotpasword">Forgot your password?</button>
    @*<a asp-action="ForGotpasword" asp-controller="Client"></a>*@
    @*<a asp-action="" asp-controller="Client"></a>*@
</Form>



