
@{
    ViewData["Title"] = "A gaya tu Jawaan Ho kar";
}

<h1>@ViewData["Title"]</h1>

<form method="post">

    <button type="submit">LogOut</button>
    < asp-controller="Home" asp-action="Index">
</form>

