@using Car_Rental_booking.Model;
@model Client
@{
    ViewData["Title"] = "ForGotpasword";
}

<h1>ForGotpasword</h1>

<form method="post">
    
    <label>Email</label>
    <input asp-for="Email" />
    <label>PetName</label>
    <input asp-for="PetName" />
    <button type="submit">Continue</button>
   

</form>
