@using Car_Rental_booking.Model;
@model  Client
@{
        ViewData["Title"] = "Recoveryourpasswordbyemail";    
}

<h1>Recoveryourpasswordbyemail</h1>

<form method="post">

    @*<input asp for="Enter New Passowrd"/>
    <input asp for="Comfirm your paswword"/>*@
    

    <label>New Passowrd</label>
    <input asp-for="Password" />
    <label>Renew Passowrd</label>
    <input asp-for="Password" />
    <button type="submit">Update your password</button>
    
    
    <a asp-action="ForGotpasword" asp-controller="Client"></a>

</form>



