@using Car_Rental_booking.Model;
@model  Client
@{
        ViewData["Title"] = "Recoveryourpasswordbyemail";    
}
@*@TempData["name"]*@
<h1>Recoveryourpasswordbyemail</h1>

<form method="post">

    @*<input asp for="Enter New Passowrd"/>
    <input asp for="Comfirm your paswword"/>*@
    

    <label>New Passowrd</label>
    <input asp-for="Password" />
    <button type="submit" ,asp-action="ForGotpasword">Update your password</button>
    @*<label>Comfirm your paswword</label>
    <input asp-for="Password" />*@

    @*<a asp-action="ForGotpasword" asp-controller="Client"></a>*@

</form>



